<div class="home-bg-img">
    <div class="title">
        Server monitoring

        <p class="sub-title">
            Track bruteforce attempt (and other stuff) on your server in real time  
        </p>

    <!-- Encapsulate the footer below in a div and make it sticky to the front bg -->
        <p class="margin-top">
            <span class="get-started">Getting started</span>
            <span class="default"> or </span>
            <span class="get-started">Read more</span>
        </p>
    </div>

</div>

<div class="section-container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="section-title">Step 1</h2>
            <div class="home-steps-details">
                <span class="glyphicon glyphicon-check home-icon"></span>
                <p><a ui-sref="register">Create an account</a></p>    
            </div>
            
        </div>
        <div class="col-md-4">
            <h2 class="section-title">Step 2</h2>
            <div class="home-steps-details">
                <span class="glyphicon glyphicon-pencil home-icon"></span>
                <p>Go to the <a ui-sref="servers">server</a> page to connect to your server(s)</p>
            </div>
            
        </div>
        <div class="col-md-4">
            <h2 class="section-title">Step 3</h2>

            <div class="home-steps-details">
                <span class="glyphicon glyphicon-globe home-icon"></span>
                <p>
                    Access your dashboard and review bruteforce attempts on your server </li>
                </p>    
            </div>
        </div>
    </div>
</div>
