<div class="margin-top"></div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 server-header">
        <h4>Hostname : {{server}} / Status :
            <span ng-show="isUp" class="server-up" ng-click=changeServerStatus()>Up</span>
            <span ng-hide="isUp" class="server-down" ng-click=changeServerStatus()>Down</span>
        </h4>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<div class="row margin-top">
    <div class="col-md-2 panel-options">
        <table class="table">
            <thead>
                <tr>
                    <th>Options</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Map</th>
                    <th>
                        <button ng-hide="options.map_active" class="btn btn-primary" ng-click="showMap()" ng-disabled="!isUp">Activate</button>
                        <button ng-show="options.map_active" class="btn btn-primary" ng-click="showMap()">Deactivate</button>
                    </th>
                </tr>
                <tr>
                    <th>Bruteforce attempts</th>
                    <th>
                        <button ng-hide="options.bruteforce_attempts" class="btn btn-primary" ng-click="fetchBruteforceList()" ng-disabled="!isUp">Show</button>
                        <button ng-show="options.bruteforce_attempts" class="btn btn-primary" ng-click="fetchBruteforceList()">Hide</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9">

        <!-- MAP  -->
        <ui-gmap-google-map ng-show="options.map_active" center='map.center' zoom='map.zoom'>                             
            <ui-gmap-markers click="clickMarker" icon="'icon'" models="markers" coords="'coord'"></ui-gmap-markers>
        </ui-gmap-google-map>
        
        <!-- Description -->
        <div class="container bruteforce-attempts" ng-show="options.bruteforce_attempts">
            <div class="bs-example" data-example-id="panel-without-body-with-table">
                <div class="panel panel-default">
                    <div class="panel-heading">Bruteforce attemps</div>
                    <table datatable="ng" class="table row-border hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>IP Address</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Postal code</th>
                                <th>Lat</th>
                                <th>Long</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in bruteforce_list track by $index">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{p.ip}}</td>
                                <td>{{p.country}}</td>
                                <td>{{p.city}}</td>
                                <td>{{p.postal_code}}</td>
                                <td>{{p.latitude}}</td>
                                <td>{{p.longitude}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    

</div>

