<div class="margin-top">
    
</div><div class="col-md-4"></div>
<div class="col-md-4">
    <h2>Register</h2>
    <div ng-show="error" class='alert alert-danger'>{{errorMessage}}</div>

    <form method="post" ng-submit="register()" class="well form">
        
        <div class="well">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" type="text" name="username" ng-model="registerForm.username">    
            </div>
            
            <div class="form-group">
                <label class="control-label">email</label>
                <input class="form-control" type="email" name="email" ng-model="registerForm.email">    
            </div>
            
            <div class="form-group">
                <label class="control-label">Password</label>
                <input class="form-control" type="password" name="password" ng-model="registerForm.password">   
            </div>
            
            <div class="form-group">
                <label class="control-label">Confirm password</label>
                <input class="form-control" type="password" name="password" ng-model="registerForm.confirmPassword">

            </div>    
        </div>
                
        <button ng-disabled="disabled" class="btn btn-primary pull-right">Register</button>
    </form>
</div>
