body{
    padding-top: 70px;
}

.angular-google-map-container { height: 400px; }

.register{
    width: 30%;
    margin:auto;
}

.icon{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}
.icon-connect{
    color:green;
}

.icon-edit{
    color: gray;
}

.icon-trash{
    color: red;
}

.icon-globe{
    color: ;
}