body{
    padding: 0;
    margin:0;
}
.home-bg-img{
    background: 
    /*linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),*/
    url("../img/worldmap.jpg");
  background-size: cover;
  height: 100vh;
}

.title {
    font-family: "Courier New", "Helvetica Neue";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    font-weight: 600;
}

.sub-title{
    font-size: 2rem;
    text-transform: none;
    margin-top: 1em;
    font-weight: normal;
}

.margin-top{
    margin-top:5em;
}
.get-started-margin-top{
    margin-top: 10em;
}
.get-started{
    font-size: 2rem;
    text-transform: none;
    font-weight: 200;
    border: 1px solid gray;
    border-radius: 0.5em;
    width: 30%;
    margin: auto;
    padding: .5em;
    cursor: pointer;
}

.default{
    font-size: 2rem;
    text-transform: none;
    font-weight: normal;
}
.get-started:hover{
    background-color: lightgray;
    color:black;
    transition: 0.3s ease-in-out;
}

.section-container{
    margin-top: 2em;
    margin-bottom: 2em;
}

.section-title{
    text-align: center;
}
.angular-google-map-container { height: 400px; }

.register{
    width: 30%;
    margin:auto;
}

.icon{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}
.icon-connect{
    color:green;
}

.icon-edit{
    color: gray;
}

.icon-trash{
    color: red;
}

.icon-globe{
    color: ;
}

.terminal-container{
    height: 200px;
    box-shadow: 0.5em 0.5em 0.5em 0 gray;
}
/***************************
*                          *
*       STYLE : HOME       *
*                          *
 ***************************/
.home-steps-details{
    margin: auto;
    text-align: center;
    padding: 3em;
}

.home-icon{
    font-size: 10rem;
    padding-bottom: 0.5em;
}

/***************************
*                          *
*       STYLE : NAVBAR     *
*                          *
 ***************************/

.navbar-inverse{
    font-family: "Courier New";
    background-color: #101010;
    border-color: #080808;
    box-shadow: 0em 0em 0.6em 0em gray;
}

/***************************
*                          *
*       STYLE : SERVERS    *
*                          *
 ***************************/

.courier{
    font-family: "Courier New";
}
.profil-server-table{
    font-family: "Courier New";
}

.connected{
    background-color:#87E09C;
}
/***************************
*                          *
*       STYLE : PANEL      *
*                          *
 ***************************/

.panel-options{
    padding-left: 2em;
    font-family: "Courier New";
}

.server-header{
    text-align: center;
    font-family: 'Courier New';
}

.server-header-hostname{
    font-weight: bold;
}
.bruteforce-attempts{
    font-family: "Courier New";
}

.server-up{
    border: 1px solid #4CAE4C;
    background-color: #5CB85C;
    border-radius:0.5em;
    color: white;
    padding:0.5em;
    cursor:pointer;
}

.server-down{
    border: 1px solid #7C1111;
    background-color: #BF3030;
    border-radius:0.5em;
    color: white;
    padding:0.5em;
    cursor: pointer;
}

.panel-stats{
    font-family: 'Courier New';
}

.panel-stats-header{
    text-align: center;
}

.row{
    padding: 0;
    margin:0;
}