<h1>Home Page</h1>

<ul>
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="map">Map</a></li>
</ul>

<div>
    <h3>SSH details</h3>
    <label>Hostname</label>
    <input type="text" name="hostname" ng-model="hostname" placeholder="vpsxxxxxx.ovh.net">
    <label>Port</label>
    <input type="text" name="port" ng-model="port" placeholder="22">
    <label>Username</label>
    <input type="text" name="username" ng-model="username" placehoder="john">
    <label>Password</label>
    <input type="password" name="password" ng-model="password">

    <hr>
    <p>Confirm connection to {{username}}@{{ hostname }}:{{port}} ? </p>
    <button ng-click=ssh_connect()>Connect</button>
</div>