<!-- <h1>About</h1>

<p>Hmm, not much here.</p>
<p>Best get back to the <a ui-sref="home">home page</a>.</p>

<p>Tip: going to an incorrect URL will take you to the homepage, <a href="/#/404">Try it!</a></p> -->

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
    </ui-gmap-markers>
</ui-gmap-google-map>
    

<div class="container">
    <div class="bs-example" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">
            <div class="panel-heading">Attacker address</div>
            <table datatable="ng" class="table row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>IP Address</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Postal code</th>
                        <th>Lat</th>
                        <th>Long</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in profiles track by $index">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{p.ip}}}</td>
                        <td>{{p.country}}}</td>
                        <td>{{p.city}}</td>
                        <td>{{p.postal_code}}</td>
                        <td>{{p.latitude}}</td>
                        <td>{{p.longitude}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>