<!DOCTYPE html>
<html>
<head>

    <!-- GMAP api key AIzaSyCktMMX39icwllipmYDMPHXQRFrtgzFXK8 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VPS - GeoIP</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCktMMX39icwllipmYDMPHXQRFrtgzFXK8&callback=initMap" async defer></script>

    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/lodash.min.js"></script>
    
    <!-- DataTables  -->
    <script src="static/lib/datatable/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/lib/datatable/jquery.dataTables.min.css">

    <!-- AngularJS -->
    <script src="static/lib/angularjs/angular.js"></script>
    <script src="static/lib/angularjs/angular-simple-logger.js"></script>
    <script src="static/lib/angularjs/angular-google-maps.min.js"></script>   
    <script src="static/lib/angularjs/angular-ui-router.js"></script>   
    
    <!-- Angular Datatables -->
    <script src="static/lib/angular-datatables/angular-datatables.js"></script>
    <link rel="stylesheet" href="static/lib/angular-datatables/angular-datatables.css">


    <script src="static/js/app.js"></script>
    <script src="static/js/controllers/HomeController.js"></script>
    <script src="static/js/controllers/MapController.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body ng-app="myApp">

    <div class="ui-view"></div>
<!--     <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
        
    
    <div class="container">
        <div class="bs-example" data-example-id="panel-without-body-with-table">
                <div class="panel panel-default">
                    <div class="panel-heading">Attacker address</div>
                    <table datatable="ng" class="table row-border hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>IP Address</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Postal code</th>
                                <th>Lat</th>
                                <th>Long</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in profiles track by $index">
                                <th scope="row">{{'{{$index+1}}'}}</th>
                                <td>{{ '{{p.ip}}' }}</td>
                                <td>{{ '{{p.country}}' }}</td>
                                <td>{{ '{{p.city}}'}}</td>
                                <td>{{ '{{p.postal_code}}'}}</td>
                                <td>{{ '{{p.latitude}}'}}</td>
                                <td>{{ '{{p.longitude}}'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
        </div>
    </div>
 -->
    

    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>