<!DOCTYPE html>
<html>
<head>

    <!-- GMAP api key AIzaSyCktMMX39icwllipmYDMPHXQRFrtgzFXK8 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VPS - GeoIP</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCktMMX39icwllipmYDMPHXQRFrtgzFXK8&callback=initMap" async defer></script>

    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/jquery/jquery.mousewheel.min.js"></script>
    <script src="static/lib/lodash.min.js"></script>
    
    <!-- DataTables  -->
    <script src="static/lib/datatable/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/lib/datatable/jquery.dataTables.min.css">

    <!-- AngularJS -->
    <script src="static/lib/angularjs/angular.js"></script>
    <script src="static/lib/angularjs/angular-simple-logger.js"></script>
    <script src="static/lib/angularjs/angular-google-maps.min.js"></script>   
    <script src="static/lib/angularjs/angular-ui-router.js"></script>   
    
    <!-- Angular Datatables -->
    <script src="static/lib/angular-datatables/angular-datatables.js"></script>
    <link rel="stylesheet" href="static/lib/angular-datatables/angular-datatables.css">

    <!-- Jquery-Terminal -->
    <script type="text/javascript" src="static/lib/jquery-terminal/jquery.terminal.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/lib/jquery-terminal/jquery.terminal.min.css">

    <script type="text/javascript" src="static/lib/jquery-terminal/angular-terminal.js"></script>
    <!--  -->

    <script src="static/js/app.js"></script>
    <script src="static/js/controllers/AuthController.js"></script>
    <script src="static/js/controllers/HomeController.js"></script>
    <script src="static/js/controllers/PanelController.js"></script>
    <script src="static/js/controllers/ServersController.js"></script>
    <script src="static/js/controllers/NavController.js"></script>
   
    <script src="static/js/services/AuthenticationService.js"></script>
    <script src="static/js/services/ServerService.js"></script>
    <script src="static/js/services/SSHCmdService.js"></script>
    <script src="static/js/services/ProfilesService.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <base href="/">
</head>

<body ng-app="myApp">

    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
        <div class="container">
            
          <div class="navbar-hedaer">
              <div class="navbar-brand">Server Monitoring</div>
          </div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="loggedIn"><a ui-sref="login">Login</a></li>
                <li role="separator" class="divider"></li>
                <li ng-hide="loggedIn"><a ui-sref="register">Register</a></li>
                <li class="dropdown" ng-show="loggedIn">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle">
                        {{userEmail}} 
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="servers">Server(s)</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                
            </ul>
          </div>
        </div>
    </nav>
    

    <!-- <div class="ui-view" name="nav"></div> -->

    <!-- <div class="ui-view" name="content"></div> -->

    <div class="ui-view"></div>
  

    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>